{% extends 'base.html.twig' %}




{% block titre %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
<h2>Page D'Accueil</h2>

 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis doloribus eius est excepturi facere harum inventore iste, labore laudantium magni molestias officiis perferendis quaerat quasi quibusdam, sunt temporibus vel?</p>
{% endblock %}


