{% extends 'base.html.twig' %}



{% block titre %}{{ parent() }} | A Propos {% endblock %}
{% block body %}
<h2>A propos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam architecto, beatae distinctio doloremque doloribus
        eum fugit incidunt laborum maiores obcaecati possimus quae qui quidem quis recusandae repellendus sit tempora!</p>

{% endblock %}