body {

    background: lightgrey;
    text-align: center;
}
header{
    background-color: rgb(25,45,147, .25);

}
footer{
   text-align: center;
    background-color:rgb(25,45,147, .25);
    color: white;
    position:absolute;
    bottom:0;  /* on le colle en bas */
    width:100%;
    height:100px;   /* Hauteur du pied de page */
}

a{
    text-decoration: none;
    color: darkred;
    margin: 5px;
}

nav {
   text-decoration: none;
    margin: 2em;
    font-size: 1.2em;
}

.headerLogoTitre{
    display: flex;
    padding: 1.2em;
    padding-left: 2em;
}

.aLogo{
    padding-right: 2em;
}

.navigation {
    list-style-type: none;
    display: flex;
    margin: 5px;
}


h1{
    font-family: 'Quicksand', sans-serif;

}