{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} | Detail {% endblock %}

{% block body %}
    <h2>Detail de souhait</h2>
<p>ici je suis dans le détails de mon souhait</p>
{% endblock %}

