{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} | Liste des Souhait {% endblock %}

{% block body %}
    <h2>Liste de mes souhaits</h2>


    <ul>
        {% for souhait in souhaits %}
           <li>
               <a href="{{ path( 'wish_detail', {'id':souhait.id()} ) }}"> {{ souhait.titre }}</a>
           </li>

        {% endfor %}

    </ul>



{% endblock %}

