{% extends 'base.html.twig' %}

{% block titre %}{{ parent() }} | Liste des Souhait {% endblock %}

{% block body %}
    <h2>Liste de mes souhaits</h2>
<p>ici je suis dans la liste de mes souhait</p>
{% endblock %}

