{% extends 'base.html.twig' %}

{% block body %}
<h3>Insertion d'un nouveau souhait </h3>


    {{ form_start(souhaitForm) }}

    {{ form_widget(souhaitForm) }}

    <button>ajouter mon souhait</button>

    {{ form_end(souhaitForm) }}


{% endblock %}

{% block titre %}
Nouveau souhait
{% endblock %}

