{% extends 'base.html.twig' %}

{% block body %}
<h3>Insertion d'un nouveau souhait </h3>
<h5>titre du souhait inserer :</h5>
{{ souhait.titre }}
    <h5>auteur du souhait inserer :</h5>
    {{ souhait.auteur }}


{% endblock %}

{% block titre %}
Nouveau souhait
{% endblock %}

